*{
    margin: 0;
    font-family: 'Quicksand', sans-serif; 
}


 /* header */

.encabezado{

    background: rgb(20, 171, 197);
    width: auto;
    height: 45px;
}

.encabezado ol{

    list-style: none;
    display: flex;  
    flex-direction: row; 
    padding-top: 5px;
}

.lista_rrss img{

    width: 30px;
    height: 30px;
    text-align: right;

} 

.encabezado a{

    color: #fff;
    text-decoration: none;
    font-size: 25px;
}

.nav_link{

    padding: 10px;
}

.encabezado_imagen{

    height: 100vh;
    background-image: linear-gradient(to top, rgba(168, 237, 233, 0.527) 0%, rgba(254, 214, 227, 0.486) 100%), url(../img/arquitectura.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    /* Controla los encabezados de la portada */
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 45px;
    color:#fff ;

    font-family: 'Krona One', sans-serif;
    /* -webkit-text-stroke: 1px black; */
    
}

.logo{

    width: 35px;
    height: 30px;
    margin-top: 4px;
    margin-right: 30px;
}

/* Descripción */

main h2 {

    text-align: center;
    font-size: 40px;
    padding-top: 30px;
    padding-bottom: 35px;
    color: rgb(20, 171, 197);
}

 .descripcion{

    display: flex;
    /* display: grid; */
    grid-template-columns: 1.5fr 2fr;
    grid-column-gap: 50px;
    margin: 50px 220px;
    /* border: 1px solid black; */
} 

.mensaje_descrip{

    margin-top: 35px;
    flex: 40%;
}

.mision_vision{

    flex:60%;
      
}

.mensaje_descrip img {

    margin-top: 20px;
    width: 100%;
    height: 50%;
}

.mensaje_descrip h3 {

    font-size: 40px;
    padding-bottom: 35px;
    color: rgb(20, 171, 197);
}

.descripcion p {

    text-align: justify;
} 

.imagen_mv{

    width: 80%;
    height: 80%;
}

 .mision{

    display: flex;
    grid-column-gap: 25px;
    margin-bottom: 30px;
}

.mision_left{

    flex: 60%
}

.mision_right{

    flex: 40%;
    /* border: 1px solid black; */
}

.vision{

    display: flex;
    grid-column-gap: 25px;
} 

.vision_left{

    flex: 60%;
}

.vision_right{

    flex:40%;
    /* border: 1px solid black; */
}

/* Trabaja con nosotros */

.postulacion{

    background: rgb(236, 235, 235);
    padding-top: 40px;
    padding-bottom: 40px;
    /* border: 1px solid black; */
    
}

.subtitulo_postulacion{

   text-align: center;
   margin-bottom: 45px;
}

.beneficios{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin-bottom: 30px;
}

.img_postulacion{

    width: 350px;
    height: 350px;
    margin-bottom: 10px;
}

.lista_postulacion{

    text-align: left;
    margin-top: 10px;
    margin-left: 120px;
}

.btn_postula{

    background: rgb(20, 171, 197);
    padding: 1em;
    text-transform: uppercase;
    border-width:3px;
    border-radius: 12px;
    color: #ffff;
    margin: 20px auto 10px auto;
    padding-bottom: 20px;
    font-size: 15px;
    display: block;
    
}

/* resultado */
.resultado h3{

    text-align: center;
}

.input_rut{

    display: block;
    text-align: center;
    margin: 20px auto;
    width: 400px;
    height: 30px;
}



/* footer */

footer{

    background: rgb(32, 65, 87);
    color: #fff;
}

.encabezado_footer {

    padding-top: 10px;
    padding-left: 10px;
}

.lorem{

    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 30px;
}


